.popover {
	position: relative;
	width: fit-content;

	.popover__content {
		z-index: 20;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 0.75rem;
		left: 50%;
		transform: translateX(-50%);
		border-radius: var(--border-radius-lg);
		background-color: var(--color-background);
		border: 1px solid var(--color-border);
		position: absolute;
	}
}
