:root {
	--color-primary: #5479ff;
	--color-primary-hover: #456dff;
	--color-primary-highlight: #f1f4ff;
	--color-primary-highlight-hover: #e6ecff;
	--color-primary-foreground: #ffffff;

	--color-border: #eee;

	--color-text-primary: #5b5b5b;
	--color-text-muted: #b0b0b0;

	--color-background: #ffffff;
	--color-shadow: #8090b033;
}
