@import './styles/colors.scss';
@import './styles/typography.scss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius-sm: .25rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1rem;

  --transition-duration: 200ms;
}

body {
  background-color: #FAFAFA;
}

* {
  transition-duration: var(--transition-duration);
  box-sizing: border-box;
}